html, body {
width: 100vw;
height: 100vh;
height: 100dvh;

overflow: hidden;
}

@keyframes flames {
    0% {opacity: 1;}
    99.999% {opacity: 0;}
    100% {opacity: 0; display: none;}
}

body {
    & header .header-container {
        width: 100%;
        height: 100vh;
        height: 100dvh;

        background-image: url("assets/grelha-com-espetos.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        opacity: 0.7;

        & h1 {
            font-family: 'Honk', system-ui;
            font-size: 12rem;
            text-align: center;
        }

        @media (max-width: 420px) {
            h1 {
                font-size: 3rem;
                padding-top: 3rem;
            }
        }
    }

    main{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        width: 100dvw;
        height: 100vh;
        z-index: 0;
        overflow: auto;
    }

    .overlay {
        background-image: url("assets/flames.gif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        animation: flames 4s forwards;

        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        width: 100dvw;
        height: 100%;
        z-index: 1;
    }
}

.header-button {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;

    width: 100%;
    height: 100%;
}

button.button-wzap {
    position: absolute;
    top: 40%;
    left: 50%;
    color: #fff;
    background-color: #075E54;
    border: 0.25rem #25D366 solid;

    transform: translate(-50%, -50%);

    width: 25rem;
    height: 5rem;
    font-size: 2rem;

    cursor: pointer;

    @media (max-width: 420px) {
        width: 15rem;
        height: 5rem;
        font-size: 1.5rem;
    }
}

button.button-wzap:hover {
    color: #075E54;
    background-color: #25D366;
    border: 0.25rem #fff solid;
}

button.button-maps {
    position: absolute;
    top: 60%;
    left: 50%;
    color: #075E54;
    background-color: #25D366;
    border: 0.25rem #fff solid;

    transform: translate(-50%, -50%);

    width: 25rem;
    height: 5rem;
    font-size: 2rem;

    cursor: pointer;

    @media (max-width: 420px) {
        width: 15rem;
        height: 5rem;
        font-size: 1.5rem;
    }
}

button.button-maps:hover {
    color: #fff;
    background-color: #075E54;
    border: 0.25rem #25D366 solid;
}

article {
    width: 100%;
    height: fit-content;

    line-height: 2rem;

    p {
        padding: 1.5rem;
    }

    .article-container {
        display: flex;

        p {
            background-color: #000;

            font-size: 2rem;
            font-family: 'Protest Riot', sans-serif;
            color: #ffa200;

            span {
                font-size: 3rem;

            }
        }

        @media (max-width: 420px) {
            flex-direction: column;

            img {
                width: 100%;
            }

        }
    }

    .reverse {
        @media (max-width: 420px) {
            flex-direction: column-reverse;
        }
    }
}